body {
    background-color: var(--grey-color);
}
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}